@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color: rgba(73, 75, 113, 58.16);
  --navbar-height: 67px;
  --shadow: 0px 0px 12px 0px rgba(73, 75, 116, 0.16);
}